/* Configuração da Barra Lateral */
.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #030303; /* Preto total igual à sua página clientes */
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

/* Logo: Ícone + REALCARS */
.logo-text-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
}

.logo-icon-red {
    color: #c31520; /* Vermelho padrão */
    font-size: 1.6rem;
}

.sidebar h2 {
    color: white;
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 0;
}

.sidebar h2 span {
    color: #c31520;
}

/* Links do Menu */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #cbd5e1;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-family: sans-serif;
    border-left: 4px solid transparent; /* Reserva espaço para a borda */
    transition: 0.3s;
}

/* Efeito Hover */
.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
}

/* ESTADO ATIVO (O que você quer em todas) */
.sidebar a.active {
    background-color: #1a1c1e; /* Fundo do item selecionado */
    color: #ffffff !important;
    font-weight: bold;
    border-left: 4px solid #c31520; /* Bordinha vermelha reta na esquerda */
}